In [3]:
print("Hello world")

Hello world

In [4]:
import pandas as pd

data  = pd.read_csv("archive\client_hostname.csv")

In [5]:
data.head()

,client,hostname,alias_list,address_list
0,5.123.144.95,5.123.144.95,[Errno 1] Unknown host,NaN
1,5.122.76.187,5.122.76.187,[Errno 1] Unknown host,NaN
2,5.215.249.99,5.215.249.99,[Errno 1] Unknown host,NaN
3,31.56.102.211,31-56-102-211.shatel.ir,['211.102.56.31.in-addr.arpa'],['31.56.102.211']
4,5.123.166.223,5.123.166.223,[Errno 1] Unknown host,NaN

In [6]:
data.describe()

,client,hostname,alias_list,address_list
count,258445,258441,258445,5819
unique,258445,258273,5820,5819
top,5.123.144.95,int0.client.access.fanaptelecom.net,[Errno 1] Unknown host,['31.56.102.211']
freq,1,101,252626,1